<div class="card widget-card border-light shadow-sm h-100">
              <div class="card-body p-4">
                <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title widget-card-title">Sales Overview</h5>
                  </div>
                  <div>
                    <select class="form-select text-secondary border-light-subtle">
                      <option value="1">March 2023</option>
                      <option value="2">April 2023</option>
                      <option value="3">May 2023</option>
                      <option value="4">June 2023</option>
                    </select>
                  </div>
                </div>
                <div id="bsb-chart-1"></div>
              </div>
</div>