<div class="container mt-5">
  <h2 class="mb-4 text-center">Your Certificates</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let certificate of certificates">
      <div class="card shadow-sm">
        <div class="course-img">
          <img [src]="certificate.course.image" class="card-img-top" alt="Course Image">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ certificate.course.title }}</h5>
          <p class="card-text">Certificate ID: {{ certificate.certificateId }}</p>
          <p class="card-text">Score: {{ certificate.score }}%</p>
          <button (click)="downloadCertificate(certificate.certificateId)" class="btn btn-primary btn-block">Download Certificate</button>
        </div>
      </div>
    </div>
  </div>
</div>
