<div class="video-player-container">
    <div class="video-section">
      <plyr #player class="player" [plyrPlaysInline]="true" [plyrSources]="videoSources" [plyrOptions]="plyrOptions"></plyr> 
      
      <div class="video-details">
        <h3>{{ currentVideo?.title }}</h3>
        <p>{{ currentVideo?.vidDescription }}</p>
      </div>
    </div>
    <div class="sections-list">
      <h4>Sections</h4>
      <ul>
        <li *ngFor="let section of sections; let i = index" (click)="playVideo(i)">
          {{ section.title }}
        </li>
      </ul>
    </div>
  </div>
  