<footer class="footer " *ngIf="account?.role !== Role.Admin || false">
    <div class="container-fluid bg-dark text-light footer">
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-4 col-md-6">
            <h4 class="text-white mb-3">Links</h4>
            <a class="btn btn-link" href="">Privacy Policy</a>
            <a class="btn btn-link" href="">Terms & Condition</a>
            <a class="btn btn-link" href="">FAQs & Help</a>
          </div>
          <div class="col-lg-4 col-md-6">
            <h4 class="text-white mb-3">Contact</h4>
            <a href="#" class="mb-2">
              <i class="fa fa-envelope me-3"></i>hello@megalearn.com
            </a>
            <a href="#" class="mb-2">
              <i class="fa fa-envelope me-3"></i>contact@megalearn.com
            </a>
            <div class="d-flex pt-2">
              <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-twitter"></i></a>
              <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              &copy; <a class="border-bottom" href="#">Lamine Learning</a>, All
              Right Reserved. Designed By
              <a class="border-bottom" href="https://uvmatrix.space" target="_blank">uvmatrix.space</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>