<div class="container p-5">
  <h2>{{ quiz?.title }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <div *ngIf="!loading">
      <div formArrayName="questions">
        <div *ngFor="let question of questions.controls; let i = index" >
          <div>
            <div [formGroupName]="i" class="form-group">
              <h3>{{i + 1}} . {{ question.get('questionText')!.value }}</h3>
    
              <div formArrayName="options" class="form-group">
                <div *ngFor="let option of getOptions(i); let j = index" [formGroupName]="j" class="form-group">

                    <div class="row d-flex align-middle">
                    <input id="isCorrect-{{i}}-{{j}}" type="checkbox" formControlName="isCorrect" [value]="option.get('optionText')!.value" class="form-check-input col-6">
                    <div class="form-check col-6">
                      <p class="">{{ j+1 }}. {{ option.get('optionText')!.value }}</p>
                    </div>
                  
                  </div>
                  <div *ngIf="submitted && option.get('isCorrect')?.errors" class="invalid-feedback">
                    <div *ngIf="option.get('isCorrect')?.errors">Option is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </div>
  </form>
</div>
